donor : {
  firstName: String
  familyName: String
  Address : {
    streetNumber: might be integer
    street:
    postalCode: integer length might be 5
    town:
  },
  cotisation {
    payed: boolean
    amount: might be an integer
    paymentType: //paypal or cheque
  },
  donations:[array of donation],
  donationTotal: //sum of the donations
  asText: //equivalent of the total in plain text
},

donation : {
  identifier: //for example 2015-01, then 2015-02
  eventName: //might be stored in an enum and can just be checked
  dateOfPayment: {//for example Decembre 2015
    month: //enum
    year: //enum
  }
  purpose: //enum can be configurable
  amount:
}
